body>div.container {margin-top:10px;}

h4	{text-align:center;}

.bs-component {
    position: relative;
}

.bs-component p.portal_link_container	{margin-bottom:0;}

img.avatar	{width:100px;}

#source-button {
    position: absolute;
    top:0;
    right:0;
    z-index:9;
}

.panel-top-right-button {
	margin: -16px -16px 0 0;
	float: right;
}

pagination-container>div	{margin:10px 0; clear:both; height:23px;}
pagination-container span:first-child	{float:left;}
pagination-container span:last-child	{float:right;}
pagination-container span.glyphicon		{height:18px;}
pagination-container button	{font-weight:bold;}

table.stats td, table.stats th	{text-align:center;}



 .pagination > li > a
{
    background-color: #dd0033;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #161f29;
    border-color: #161f29;
}

.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	background-color: #dd0033;
    cursor: default;
    border-color: transparent;
}

.pagination > .active > a
{
    color: dd0033;
    background-color: #161f29 !Important;
    border: solid 1px #161f29 !Important;
}

.pagination > .active > a:hover
{
	color: white;
    background-color: #161f29 !Important;
    border: solid 1px #161f29;
}
